################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/GlobalLowLevelHooks/bin/Release/GlobalLowLevelHooks.dll
/GlobalLowLevelHooks/bin/Release/GlobalLowLevelHooks.pdb
/GlobalLowLevelHooks/bin/Release/GlobalLowLevelHooks.XML
/GlobalLowLevelHooks/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
